<!DOCTYPE html>
<html>
<head>
  <title>Eco Loop</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
</head>
<body>
{% include 'ecoloop/header.html' %}
  <aside id="big-photo-2">
  </aside>
  <section class="wrapper" id="about">
    <section class="wrapped">
      <aside class="column" id="about-sidebar">
        <h3><span>Encuéntranos</span></h3>
        <p>Tiendas donde podras encontrar todos nuestros productos.</p>

        <h3><span>Ropa Urbana</span></h3>
        <ul>
          <li>Dirección</li>
          <li>Teléfono</li>
          <li>Horario</li>
        </ul>
        <h3><span>Ropa Urbana</span></h3>
        <ul>
          <li>Dirección</li>
          <li>Teléfono</li>
          <li>Horario</li>
        </ul>
      </aside>
      <aside class="column" id="about-content">
        <h2>Contáctate con nosotros</h2>
        <p>Si deseas contactarte con nosotros, llena el siguiente formulario o escríbenos directamente a nuestro email info@ecoloop.com</p>
        <h3>Formulario</h3>
        <form>
          <input type="text" name="nombre" placeholder="Nombre">
          <input type="email" name="email" placeholder="E-mail">
          <input type="text" class="inline" name="tel" placeholder="Telf.">
          <input type="text" class="inline" name="cel" placeholder="Cel.">
          <textarea placeholder="Mensaje"></textarea>
          <input type="button" value="Enviar">
        </form>
      </aside>
    </section>
  </section>
  {% include 'ecoloop/footer.html' %}
</body>
</html>