<!DOCTYPE html>
<html>
<head>
  <title>Eco Loop</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
{% include 'ecoloop/header.html' %}
  <aside id="big-photo-2">
  </aside>
  <section class="wrapper" id="about">
    <section class="wrapped">
      <aside class="column" id="about-sidebar">
       <img src="{% static 'images/ecoloop-logo.png' %}">
      </aside>
      <aside class="column" id="about-content">
        <h2>Eco Loop</h2>
        <p>Ecoloop, nace del deseo de concientizar a las personas acerca de la importancia del respeto al entorno que nos rodea, donde nosotros, como diseñadores, buscaremos hacerlo a través del diseño de indumentaria.<br><br>
          Poco o nada conocemos del proceder de lo que vestimos e ínfimo es el deseo por investigarlo. ¿Estamos ignorando y restando valor a nuestros orígenes? A partir de esta premisa nace el concepto : "VESTIRSE CON PRINCIPIOS".<br>No buscamos producir solamente indumentaria, sino ofrecer una experiencia en la cual tú, <br>como usuario, seas partícipe desde la siembra de nuestra materia prima hasta la venta de nuestros productos, siendo, de esta manera, consciente del proceso que conlleva la adquisición de nuestra indumentaria.<br><br> Decididos a trabajar unidos bajo un régimen de horizontal de respeto, respeto hacia uno mismo, hacia las personas que nos rodean y hacia el medio en el que nos desarrollamos. No solo buscamos que producir una indumentaria 100% orgánica con conceptos gráficos enriquecido por nuestros pensamientos e ideales marque una gran iniciativa, sino sea nuestro surgir.<br><br>Surgiendo como voceros del cambio promoviendo una cultura con respeto.</p>
        <h3>Visión</h3>
        <p>{{ ecoloop.vision }}</p>
        <h3>Misión</h3>
        <p>{{ ecoloop.mision }}</p>
      </aside>
    </section>
  </section>
  {% include 'ecoloop/footer.html' %}
</body>
</html>