<!DOCTYPE html>
<html>
<head>
  <title>Eco Loop</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
</head>
<body>
{% include 'ecoloop/header.html' %}
  <aside id="big-photo">
  </aside>
  <section class="wrapper" id="breadcrumb-nav">
    <nav class="wrapped breadcrumb"><a href="#">Home</a> / MUJERES</nav>
  </section>
  {% if list_prenda %}
  <section class="wrapper" id="gallery">
    <section class="wrapped">
      {% for prenda in list_prenda %}

      <aside class="item highlighted-item">
        <div class="photo">
          <a href="#" class="share-item"></a>
          <span class="badge top left">Nuevo</span>
          <img src="{{ prenda.imagen_url }}">
          <span class="bar bottom">
            Vista previa
          </span>
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">{{ prenda.descripcion }}</li>
        </ul>
        <ul class="info right">
          <li>Tallas: {{ prenda.talla }}</li>
          <li class="second-highlighted">Precio: S/. {{ prenda.precio }}</li>
        </ul>
      </aside>
    {% endfor %}
    </section>
    <nav class="wrapped pagination">
      <span class="actual-page">1</span>
      <a href="#" class="page">2</a>
    </nav>
  </section>
  {% endif %}
  {% include 'ecoloop/footer.html' %}
</body>
</html>