<!DOCTYPE html>
<html>
<head>
  <title>Eco Loop</title>
  <meta charset="utf-8">
  {% load staticfiles %}
  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
</head>
<body>
  <header class="wrapper" id="nav-header">
    <aside class="wrapped">
      <a href="#" id="nav-logo"><img src="{% static 'images/logo.jpg' %}"></a>
      <nav class="left">
        <a href='{% url "home" %}'>Hombres</a>
        <a href='{% url "mujeres" %}' class="active">Mujeres</a>
        <a href='{% url "ecoloop" %}'>Eco Loop</a>
        <a href='{% url "noticias" %}'>Noticias</a>
        <a href='{% url "contacto" %}'>Contacto</a>
      </nav>
      <nav class="right">
        <a href="#" id="cart-link">Productos / 0</a>
        <a href="#">Costo / 0.00</a>
      </nav>
    </aside>
  </header>
  <aside id="big-photo">
  </aside>
  <section class="wrapper" id="breadcrumb-nav">
    <nav class="wrapped breadcrumb"><a href="#">Home</a> / Hombres</nav>
  </section>
  <section class="wrapper" id="gallery">
    <section class="wrapped">
      <aside class="item highlighted-item">
        <div class="photo">
          <a href="#" class="share-item"></a>
          <span class="badge top left">Nuevo</span>
          <img src="images/polo_1.jpg">
          <span class="bar bottom">
            Vista previa
          </span>
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_2.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_3.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_4.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_1.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_2.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_3.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
      <aside class="item">
        <div class="photo">
          <img src="images/polo_4.jpg">
        </div>
        <ul class="info left">
          <li>Hombre</li>
          <li class="highlighted">Love Planet</li>
        </ul>
        <ul class="info right">
          <li>Tallas: S / M / L</li>
          <li class="second-highlighted">Precio: S/. 99.90</li>
        </ul>
      </aside>
    </section>
    <nav class="wrapped pagination">
      <span class="actual-page">1</span>
      <a href="#" class="page">2</a>
    </nav>
  </section>
  <footer class="wrapper" id="footer">
    <aside class="wrapped">
      <img src="images/footer-logo.png">
      <div class="column">
        <h3><span>Noticias</span> recientes</h3>
        <article>
          <h4>Campaña Eco Loop / Recicle 09 de Marzo</h4>
          <p>Es una campaña que fomenta el consumo de productos que sus envases sean de un material que se pueda reciclar.</p>
          <a href="#">Ver más</a>
        </article>
        <article>
          <h4>Campaña Eco Loop / Recicle 09 de Marzo</h4>
          <p>Es una campaña que fomenta el consumo de productos que sus envases sean de un material que se pueda reciclar.</p>
          <a href="#">Ver más</a>
        </article>
      </div>
      <div class="column">
        <h3><span>Únete</span> a Eco Loop</h3>
        <label for="email">Suscríbete y obtén información</label>
        <input type="email" placeholder="E-mail" name="email" id="email">
        <input type="button" value="Enviar" id="submit-email">
        <h3><span>Síguenos</span>:</h3>
        <img src="images/social-buttons.png">
      </div>
    </aside>
  </footer>
</body>
</html>