{% load staticfiles %}

<header class="wrapper" id="nav-header">
    <aside class="wrapped">
      <a href="#" id="nav-logo"><img src="{% static 'images/logo.jpg' %}"></a>
      <nav class="left">
        <a href="#" class="active">Hombres</a>
        <a href="mujeres.html">Mujeres</a>
        <a href="ecoloop.html">Eco Loop</a>
        <a href="news.html">Noticias</a>
        <a href="contact.html">Contacto</a>
      </nav>
      <nav class="right">
        <a href="#" id="cart-link">Productos / 0</a>
        <a href="#">Costo / 0.00</a>
      </nav>
    </aside>
  </header>